@import "../../styles/animation.scss";

.p2v-list-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .p2v-list-data {
    padding: 20px;

    //数据项
    .data-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;


      &:not(:last-child) {
        border-bottom: var(--border-in-light);
      }

      .data-item-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex: 1;

        .item-header {
          display: flex;
          align-items: center;

          .item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            width: 32px;
            height: 32px;
          }

          .item-title {
            display: flex;
            align-items: center;

            .item-name {
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              vertical-align: middle;
            }
          }
        }

        .item-body {
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
        }

        .item-body-error {
          color: red;
        }
      }

      //数据操作按钮
      .data-item-actions {
        display: flex;
        align-items: center;
        column-gap: 2px;
        padding-left: 20px;
        padding-right: 10px;

        .data-item-action {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .p2v-list-data {
      .data-item {
        display: flex;
        flex-direction: column;

        .data-item-info {
          flex-direction: column;
          align-items: flex-start;
          flex: 1;

          .item-body {
            flex: 1;
            align-items: end;
            justify-content: end;
            padding: 0 10px;
          }
        }

        .data-item-actions {
          justify-content: flex-end;
        }
      }
    }
  }
}